* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e3e6e6;
}

.navbar {
    background: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 5px 12px;
}

.logo img {
    height: 50px;
    width: auto;
    object-fit: contain;
    transition: 0.2s;
}

.logo img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.search {
    flex: 1;
    margin: 0 20px;
    padding: 12px;
    border-radius: 4px;
    border: none;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-item {
    font-size: 14px;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.logout-btn {
    background: #ff9900;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    background: #232f3e;
    color: white;
    padding: 10px;
}

.menu span {
    cursor: pointer;
    transition: 0.2s;
}

.menu span:hover {
    border-bottom: 2px solid white;
}

.slider {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
    margin-top: -100px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.08);
}
.card button {
    margin-top: 10px;
    padding: 8px;
    background: #ffd814;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background: #f7ca00;
    transform: scale(1.05);
}

.cart-container {
    width: 80%;
    margin: auto;
}

.cart-item {
    display: flex;
    gap: 20px;
    background: white;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
}

.cart-item img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.cart-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.qty-box {
    display: flex;
    gap: 10px;
}

.qty-box button {
    padding: 5px 10px;
    background: #ffd814;
    border: none;
    cursor: pointer;
}

.remove-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.cart-summary {
    text-align: center;
    margin: 20px;
}

.checkout-btn {
    background: #ffa41c;
    padding: 12px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.back-btn {
    background: #ddd;
    padding: 12px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3e6e6;
}

.login-logo {
    text-align: center;
    margin-bottom: 20px;
}

.login-logo img {
    width: 180px;
}

.login-box {
    width: 350px;
    padding: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background: #ffd814;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.login-box button:hover {
    background: #f7ca00;
}

.create-btn {
    width: 100%;
    padding: 10px;
    background: #e7e9ec;
    border: 1px solid #adb1b8;
    cursor: pointer;
}

.login-box hr {
    margin: 20px 0;
}

.footer {
    margin-top: 40px;
    background: #232f3e;
    color: white;
}

.footer-top {
    background: #37475a;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.footer-content h4 {
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 14px;
    margin: 5px 0;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    padding: 15px;
    background: #131a22;
}

.footer-bottom img {
    height: 30px;
}